*main*
0-memset
0-strcat
1-memcpy
1-strncat
1-swap
100-atoi
100-rot13
101-print_numbers
2-strchr
2-strlen
2-strncpy
3-puts
3-strcmp
3-strspn
4-print_rev
4-rev_array
4-strpbrk
5-rev_string
5-string_toupper
5-strstr
6-cap
6-puts2
7-1337
7-print_chessboard
7-puts_half
8-print_array
8-print_diagsums
9-strcpy
_putchar.c
a.out
