0-putchar.o
0-reset_to_98.o
1-alphabet.o
1-swap.o
10-add.o
10-print_triangle.o
100-rot13.o
100-times_table.o
101-natural.o
101-print_number.o
102-fibonacci.o
102-magic.o
103-fibonacci.o
104-fibonacci.o
11-print_to_98.o
2-mul.o
2-print_alphabet_x10.o
3-print_numbers.o
4-print_most_numbers.o
4-print_rev.o
4-rev_array.o
5-more_numbers.o
5-rev_string.o
5-sign.o
5-string_toupper.o
6-cap_string.o
6-print_line.o
6-puts2.o
7-leet.o
7-print_chessboard.o
7-print_diagonal.o
7-print_last_digit.o
7-puts_half.o
8-24_hours.o
8-print_array.o
8-print_diagsums.o
8-print_square.o
9-fizz_buzz.o
9-times_table.o
_strlen.c
liball.a
main.o
